/iomhaigh-gui/.DS_STORE

/iomhaigh-gui/dist/
/iomhaigh-gui/bazel-out
/iomhaigh-gui/integration/bazel/bazel-*
/iomhaigh-gui/*.log
/iomhaigh-gui/node_modules

/iomhaigh-gui/npm-debug.log
/iomhaigh-gui/yarn-error.log

/iomhaigh-api/iomhaigh-api/*.swp/iomhaigh-api/iomhaigh-api/*.*~/iomhaigh-api/iomhaigh-api/project.lock.json/iomhaigh-api/iomhaigh-api/.DS_Store/iomhaigh-api/iomhaigh-api/*.pyc/iomhaigh-api/iomhaigh-api/nupkg/
/iomhaigh-api/iomhaigh-api/log/
/iomhaigh-api/iomhaigh-api/.vscode
/iomhaigh-api/iomhaigh-api/[Dd]ebug//iomhaigh-api/iomhaigh-api/[Dd]ebugPublic//iomhaigh-api/iomhaigh-api/[Rr]elease//iomhaigh-api/iomhaigh-api/[Rr]eleases//iomhaigh-api/iomhaigh-api/x64//iomhaigh-api/iomhaigh-api/x86//iomhaigh-api/iomhaigh-api/build//iomhaigh-api/iomhaigh-api/bld//iomhaigh-api/iomhaigh-api/[Bb]in//iomhaigh-api/iomhaigh-api/[Oo]bj//iomhaigh-api/iomhaigh-api/[Oo]ut//iomhaigh-api/iomhaigh-api/msbuild.log/iomhaigh-api/iomhaigh-api/msbuild.err/iomhaigh-api/iomhaigh-api/msbuild.wrn
/iomhaigh-api/iomhaigh-api/.vs/
